# Data Cleaning part where we deal all Nan values

In [380]:
import pandas as pd
import sqlite3 as db
from pandasql import sqldf as mysql
import os
import matplotlib.pyplot as plt
import seaborn as sns


# 
try:
    mydb= db.connect('D:\\wanted.sqlite')
except Error:
    print(Error)
    
    
qry="select overall_rating,potential,crossing,finishing, heading_accuracy ,short_passing ,volleys, dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,\n"+"sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,\n"+"standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes\n"+"from\n"+"player\n"+"inner join player_attributes\n"+"on player.player_api_id=player_attributes.player_api_id"

qry2="select overall_rating,potential,crossing,finishing, heading_accuracy ,short_passing ,volleys, dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,\n"+"sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,\n"+"standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes\n"+"from\n"+"player\n"+"inner join player_attributes\n"+"on player.player_api_id=player_attributes.player_api_id where overall_rating=84 limit 1 "

#print(qry)
mydf=pd.read_sql_query(qry,mydb)
testdf=pd.read_sql_query(qry2,mydb)
mydf.isnull().sum()


#print(mydf['potential'].mean())

#for i in mydf.columns:
#    i
#        mydf[i].fillna(mydf[i].median(),inplace=True)


# you can plot graphs aganist overall_rating and other attributes where they establish linear relation , 
#since its getting hard for me to run every time ,im disabling it for now

mydf.fillna(0,axis=1,inplace=True)
mydf.isnull().sum()

overall_rating        0
potential             0
crossing              0
finishing             0
heading_accuracy      0
short_passing         0
volleys               0
dribbling             0
curve                 0
free_kick_accuracy    0
long_passing          0
ball_control          0
acceleration          0
sprint_speed          0
agility               0
reactions             0
balance               0
shot_power            0
jumping               0
stamina               0
strength              0
long_shots            0
aggression            0
interceptions         0
positioning           0
vision                0
penalties             0
marking               0
standing_tackle       0
sliding_tackle        0
gk_diving             0
gk_handling           0
gk_kicking            0
gk_positioning        0
gk_reflexes           0
dtype: int64

# Trianing model with linear regession begins here

In [381]:
from sklearn import linear_model
import numpy as np
from sklearn.model_selection import train_test_split

# Y is my dependent variable

In [382]:
reg=linear_model.LinearRegression()

y=mydf[['overall_rating']]

# X is my independent variable which would effect my dependent variable y

In [383]:
mylist=[]
for i in mydf.columns:
    if str(i)=="overall_rating":
        pass
    else:
        mylist.append(i)
X=mydf[mylist]

mylist

X.head()

,potential,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,71.0,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,71.0,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,66.0,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,65.0,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,65.0,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [384]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [385]:
y_pred=reg.predict(X_test)

y_pred

array([[69.79732687],
       [63.50233206],
       [68.5215456 ],
       ...,
       [62.47208836],
       [64.14237232],
       [63.9311658 ]])

In [386]:
y_test.head()

        overall_rating
73021             74.0
5870              67.0
93692             70.0
90650             71.0
183894            69.0

# r ssqure score is distance between the actual values and the predicted values and thier mean square

In [390]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.8870242452388846

In [391]:
mylist2=[]
for i in testdf.columns:
    if str(i)=="overall_rating":
        pass
    else:
        mylist2.append(i)
X_testdf=testdf[mylist2]

X_testdf

,potential,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,87,82,70,38,77,69,90,62,53,59,...,79,84,23,25,14,12,25,59,25,25

In [392]:
y_pred2=reg.predict(X_testdf)

y_pred2

array([[79.66898365]])